.dropdown {
  overflow: hidden;
}

.landlordRecommendations {
  margin-top: 10px;
  padding: 12px 10px;
  border-top: 1px solid var(--neutral-light-7);
}

.landlordRecommendationsItem {
  margin: 8px 0;
}
