.digitalContentPageWrapper {
  position: relative;
}

.headerWrapper {
  position: absolute;

  width: 100%;
  height: 376px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 200px 16px 0;
}

.remixes {
  margin-top: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
}

.moreByLandlordLineupWrapper {
  width: 834px;
  margin-top: 48px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

.moreByLandlordContainer {
  width: 720px;
  margin: auto;
}

.moreByLandlordLineupWrapper .lineupHeader {
  text-align: center;
  text-transform: uppercase;

  color: var(--neutral-light-4);
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.moreByLandlordLineupWrapper .lineupHeader.large {
  font-size: var(--font-xl);
}

.originalDigitalContentDelineator > *:first-child {
  margin-bottom: 72px;
}

.originalDigitalContent {
  display: flex;
  justify-content: center;
  margin: auto -60px 0px !important;
}

.originalDigitalContent > * {
  width: 834px;
}
